---
title: Pisto.io
---
{% include head_en.html %}
<body>
    <div class="ribbon"> 
        <div class="ribbon__contain">
            <p class="flex-25"></p>
            <p class="flex-50"><span>&#9990;</span>Call us<a href="tel:+50498926361">+50498926361</a></p>
            <p class="flex-25"><a href="/?noredirect">Español</a></p>
        </div>       
    </div>
    <header>
        <nav>
            <div class="logo-pisto">
                <a href="#"> <img src="img/pisto.io.svg" alt="pisto.io"></a>
            </div>
            <em><a class="btn-pisto" href="http://app.pisto.io/" target="_blank">TRY IT FREE</a></em>
        </nav>   
    </header>
    <section class="hero">
        <div class="flex-50">
            <h1>
               A more personal point-of-sale system
            </h1>
            <p>In a world where points of sale (POS) are rare, expensive, ugly and do not provide much help in making decisions, PistoPOS tries to help with all that with style and elegance.</p>
        </div>
        <div class="flex-50">
            <img src="img/market-pisto.svg" alt="">
        </div>
    </section>
    <section class="businesses">
        <h2>Ideal for any kind business</h2>
        <p>No matter the industry or if<br> you are a small or large business</p>  
        <ul class="businesses__squares"> 
            <li><img class="icon--businesses" src="img/restaurant-pisto.svg" alt="restaurant"><h4>Restaurants</h4></li>
            <li><img class="icon--businesses" src="img/coffee-shop-pisto.svg" alt="coffee shop"><h4>Coffee shops</h4></li>
            <li><img class="icon--businesses" src="img/boutique-pisto.svg" alt="boutique"><h4>Fashion <br>boutique</h4></li>
            <li><img class="icon--businesses" src="img/franchise-pisto.svg" alt="franchise"><h4>Franchise</h4></li>
            <li><img class="icon--businesses" src="img/retail-pisto.svg" alt="retail"><h4>Retail</h4></li>
            <li><img class="icon--businesses" src="img/bars-pisto.svg" alt="bars"><h4>Bars</h4></li>
        </ul>
    </section>
    <section class="pricing-table">
        <h2>Would you like to implement<br>PistoPOS in your business?</h2>
        <p>We offer several models that ajust <br>to your needs in a easy way</p>
        <div id="precios">
            <table>
            <tr>
                <th style="width: 40%"></th>
                <th style="width: 14%"><p><img class="icon--pricing" src="img/cookie-pisto.svg" alt=""></p>Free for life</th> 
                <th style="width: 14%"><p><img class="icon--pricing" src="img/small-pisto.svg" alt=""></p>Small</th>
                <th style="width: 14%"><p><img class="icon--pricing" src="img/medium-pisto.svg" alt=""></p>Medium</th>
                <th style="width: 14%"><p><img class="icon--pricing" src="img/big-pisto.svg" alt=""></p>Big</th>
            </tr>
            <tr>
                <td><h3>MONTHLY PRICE</h3></td>
                <td><h3>0</h3></td>
                <td><h3>$100</h3></td>
                <td><h3>$200</h3></td>
                <td><h3>$300</h3></td>
            </tr>
            <tr>
                <td>Device (tablets)</td>
                <td>1</td>
                <td>2</td>
                <td>5</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Cashiers (people)</td>
                <td>1</td>
                <td>4</td>
                <td>10</td>
                <td>20</td>
            </tr>
            <tr>
                <td>Take orders</td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Tax expenses</td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
                <tr>
                <td>Daily Sales / Expense Report</td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Unlimited number providers </td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Limited croducts vategory </td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Entry of unlimited products</td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Unlimited Sales Income</td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Works with and without Internet</td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Aceptar Pagos de Efectivo</td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Accept Cash Payments</td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Basic Reports (daily, monthly, annual)</td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Employees schedule</td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Discounts (3 age, special abilities.)</td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Print Sales Receipts</td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Billing according to IRS requirements</td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Cash drawer</td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Print Orders (Kitchen)</td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Kitchen Monitor</td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Gift cards</td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Advanced Reports (graphics, drawings)</td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Customer Loyalty (thrifty points per customer)</td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Business Intelligence (data access for personalized reports)</td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Online orders (home delivery, advance orders)</td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Integrations with 3rd Party Systems</td>
                <td>0</td>
                <td>1</td>
                <td>3</td>
                <td>10</td>
            </tr>
            </table>          
        </div>    
    </section>
    <section class="contact">
        <img class="icon--phone" src="img/phone-pisto.svg" alt="phone">
        <h2>Call us and we will guide you</h2>
        <p>We will tell you step by step, how to activate PistoPOS<br> in your business and grow your sales.</p>
        <em><a class="btn-pisto" href="tel:+50498926361">+50498926361</a></em>
    </section>
{% include footer_en.html %}
</body>
</html>
