---
title: Pisto.io
---
{% include head_es.html %}
<body>
    <div class="scroll"> 
        <div class="scroll__contain">
             <span>&#9990;</span>Llámanos <a href="tel:+50498926361">+50498926361</a>
        </div>
    </div>
    <header>
        <nav>
            <div class="logo-pisto">
                <a href="index.html"> <img src="img/pisto.io.svg" alt="pisto.io"></a>
            </div>
            <em><a class="btn-pisto" href="http://app.pisto.io/" target="_blank">PRUEBA GRATIS</a></em>
        </nav>   
    </header>
    <section class="hero">
        <div class="flex-50">
            <h1>
                Un sistema de punto de venta
                más personal
            </h1>
            <p>En un mundo donde los puntos de venta (POS) son raros de usar, caros, feos y no proporcionan mucha ayuda para tomar decisiones, PistoPOS intenta ayudar con todo eso con estilo y elegancia.</p>
        </div>
        <div class="flex-50">
            <img src="img/market-pisto.svg" alt="">
        </div>
    </section>
    <section class="businesses">
        <h2>Ideal para cualquier <br>tipo de negocio</h2>
        <p>No importa el sector o si tu negocio es pequeño o grande  </p>  
        <ul class="businesses__squares"> 
            <li><img class="icon--businesses" src="img/restaurant-pisto.svg" alt="restaurant"><h4>Restaurantes</h4></li>
            <li><img class="icon--businesses" src="img/coffee-shop-pisto.svg" alt="coffee shop"><h4>Cafés</h4></li>
            <li><img class="icon--businesses" src="img/boutique-pisto.svg" alt="boutique"><h4>Boutique <br>de moda</h4></li>
            <li><img class="icon--businesses" src="img/franchise-pisto.svg" alt="franchise"><h4>Franquicia</h4></li>
            <li><img class="icon--businesses" src="img/retail-pisto.svg" alt="retail"><h4>Minoristas</h4></li>
            <li><img class="icon--businesses" src="img/bars-pisto.svg" alt="bars"><h4>Bares</h4></li>
        </ul>
    </section>
    <section class="pricing-table">
        <h2>Te gustaria implementar <br>PistoPOS en tu negocio?</h2>
        <p>Te ofrecemos varios modelos que se ajustan <br>fácilmente a tus necesidades </p>
        <div id="precios">
            <table>
            <tr>
                <th style="width: 40%"></th>
                <th style="width: 14%"><p><img class="icon--pricing" src="img/cookie-pisto.svg" alt=""></p>Gratuito de por vida</th> 
                <th style="width: 14%"><p><img class="icon--pricing" src="img/small-pisto.svg" alt=""></p>Pequeño</th>
                <th style="width: 14%"><p><img class="icon--pricing" src="img/medium-pisto.svg" alt=""></p>Mediano</th>
                <th style="width: 14%"><p><img class="icon--pricing" src="img/big-pisto.svg" alt=""></p>Grande</th>
            </tr>
            <tr>
                <td><h3>PRECIO MENSUAL</h3></td>
                <td><h3>0</h3></td>
                <td><h3>$100</h3></td>
                <td><h3>$200</h3></td>
                <td><h3>$300</h3></td>
            </tr>
            <tr>
                <td>Dispositivo (tabletas)</td>
                <td>1</td>
                <td>2</td>
                <td>5</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Cajeros (personas)</td>
                <td>1</td>
                <td>4</td>
                <td>10</td>
                <td>20</td>
            </tr>
            <tr>
                <td>Tomar Ordenes</td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Gravar Gastos</td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
                <tr>
                <td>Informe de Ventas/Gastos Diario</td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Número proveedores ilimitados</td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Categoria de Productos iLimitados</td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Ingreso de productos iLimitados</td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Ingreso de Ventas iLimitados</td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Funciona con y sin Internet</td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Aceptar Pagos de Efectivo</td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Aceptar Pagos de Tarjeta</td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Informes Basicos (diario, mensual, anual)</td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Horario de Empleados</td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Descuentos (3 edad, habilidades especiales.)</td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Imprimir Recibos de Venta</td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Facturacion de acuerdo a los requisitos de SAR</td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Gaveta de Efectivo</td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Imprimir Órdenes (Cocina)</td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Monitor de Cocina</td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Tarjetas de Regalo</td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Informes Avanzados (graficos, dibujos)</td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Lealtad de Cliente (puntos ahorrativos por cliente)</td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Inteligencia de Negocios (acceso de datos para informes personalizados)</td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Pedidos en Línea(servicio a domicilio,pedidos anticipados)</td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/no-for-pisto.svg" alt=""></td>
                <td><img class="icon--check" src="img/check-for-pisto.svg" alt=""></td>
            </tr>
            <tr>
                <td>Integraciones con otros sistemas</td>
                <td>0</td>
                <td>1</td>
                <td>3</td>
                <td>10</td>
            </tr>
            </table>          
        </div>    
    </section>
    <section class="contact">
        <img class="icon--phone" src="img/phone-pisto.svg" alt="phone">
        <h2>Llámanos y te guiaremos</h2>
        <p>Te diremos paso a paso, como activar PistoPOS<br> en tu negocio y hacer crecer tus ventas.</p>
        <em><a class="btn-pisto" href="tel:+50498926361">+50498926361</a></em>
    </section>
{% include footer_es.html %}
</body>
</html>
