<footer>
    <div class="footer">
        <div class="logo-pisto">
                    <a href="index.html"> <img src="img/pisto.io.svg" alt="pisto.io"></a>
        </div>
        <ul class="footer__navbar">
            <li><a href="http://app.pisto.io/">Prueba gratis</a></li>
            <li><a href="#precios">Precios</a></li>
            <li><a href="">​​​​​Contáctanos</a></li>
            <li><a href="/en?noredirect">English</a></li>
        </ul>
        <ul class="footer__social">
            <li><img class="icon--social" src="img/facebook.svg" alt="facebook"></li>
            <li><img class="icon--social" src="img/pinterest.svg" alt="pinterest"></li>
            <li><img class="icon--social" src="img/twitter.svg" alt="twitter"></li>
            <li><img class="icon--social" src="img/linkedin.svg" alt="linkedin"></li>
        </ul>
    </div>
    <hr>
    <p>© 2018 pisto.io todos los derechos reservados</p>
</footer>
<!-- JS -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
    window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')
</script>
<script type="text/javascript">
    $(document).ready(function(){
         let url = new URL(window.location.href);
         let allowRedirect = url.searchParams.get("noredirect") === null;
         let userLang = navigator.language || navigator.userLanguage;
         if (allowRedirect && userLang === "en-US") {
             window.location.href = "/en";
         }
     });
 </script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-42413832-9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-42413832-9');
</script>

