<footer>
    <div class="footer">
        <div class="logo-pisto">
                    <a href="index.html"> <img src="img/pisto.io.svg" alt="pisto.io"></a>
        </div>
        <ul class="footer__navbar">
            <li><a href="http://app.pisto.io/">Prueba gratis</a></li>
            <li><a href="#precios">Precios</a></li>
            <li><a href="">​​​​​Contáctanos</a></li>
        </ul>
        <ul class="footer__social">
            <li><img class="icon--social" src="img/facebook.svg" alt=""></li>
            <li><img class="icon--social" src="img/pinterest.svg" alt=""></li>
            <li><img class="icon--social" src="img/twitter.svg" alt=""></li>
            <li><img class="icon--social" src="img/linkedin.svg" alt=""></li>
            
        </ul>
    </div>
    <hr>
    <p>© 2018 pisto.io todos los derechos reservados</p>
</footer>
<!-- JS -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
    window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')
</script>
