<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" />
    <title>Pisto.io</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="PistoPOS is a hyper-flexible touch-based POS system for restaurants, stores and markets." />
    <meta name="keywords" content="POS, punto de venta, sistema POS, tienda, restaurante" />
    <meta name="author" content="bsommardahl" />
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>